<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Ingredients</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="ingredients"></tbody>
        </table>

        <a href="add">Add</a>

        <script id="ingredient-template" type="text/x-custom-template">
            <tr>
                <td class="id"></td>
                <td class="name"></td>
                <td class="price"></td>
                <td class="unit"></td>
                <td>
                    <a href="edit/{id}">Edit</a>
                    <a href="delete/{id}">Delete</a>
                </td>
            </tr>
        </script>

        <script src="../lib/jquery/jquery.min.js"></script>
        <script src="../js/ingredient/get.js"></script>
    </body>
</html>