<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/dataTables/datatables.min.css">
        <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/css/crud.css">
        <link rel="stylesheet" type="text/css" href="/lib/jquery/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/lib/jquery/jquery-ui.structure.css">
        <link rel="stylesheet" type="text/css" href="/lib/jquery/jquery-ui.theme.css">

        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/dataTables/datatables.min.js"></script>

        <script src="/js/util/URLUtil.js"></script>
        <script src="/js/util/FormUtil.js"></script>

        <style>.btn-primary {background-color: #309bcf; border-color: #309bcf} a {color: #309bcf} a: hover {color: #006ead}
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
        {background-color: #006ead; border-color: #006ead}
        .page-item.active .page-link {
        background-color: #309bcf;
        border-color: #309bcf;}
        .page-link {color: #309bcf}</style>
    </head>
    <body>