<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/dataTables/datatables.min.css">
        <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
        <!--<link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />-->

        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/dataTables/datatables.min.js"></script>

        <script src="/js/util/URLUtil.js"></script>
        <script src="/js/util/FormUtil.js"></script>
    </head>
    <body>