<!--{{> data/dashboard/header}}-->
<!--{{> data/dashboard/navbar}}-->
<!--{{> data/dashboard/sidebar}}-->

<!--<div class="container">-->

    <!--<div class="row" style="padding-bottom: 50px; padding-top: 20px;">-->
        <!--<div class="col-md-4">-->
            <!--<img align="center" width="100%" src="/img/molveno_lake_resort.jpg" />-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<h1>Welcome!</h1>-->
            <!--<p align="center">Welcome to the website of Molveno Lake Resort and Restaurant.</p>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<img align="center" width="50%" src="/img/molveno_logo2.jpg" />-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--{{> data/dashboard/footer}}-->