{{> data/homepage/header}}
{{> data/homepage/navbar}}
{{> data/homepage/banner}}

<link rel="stylesheet" href="/css/item.css">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#pay-modal">
                Pay
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="categories"></div>
        </div>
    </div>
</div>

<noscript id="category-template" type="text/x-custom-template">
    <div class="category">
        <h2><i class="fas fa-caret-right"></i> <span class="name"></span></h2>

        <div class="items col-md-12 collapse show">
        </div>
    </div>
</noscript>

<noscript id="item-template" type="text/x-custom-template">
    <div class="item">
        <input type="hidden" name="id" class="id">
        <div class="row">
            <div class="col-md-10">
                <span class="title"></span>
                <span class="description"></span>
            </div>
            <div class="col-md-2 tool">
                <button class="btn btn-primary btn-block order">
                    Order <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</noscript>

<div class="modal fade" id="added-order-modal" tabindex="-1" role="dialog" aria-labelledby="delete-serving-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="name"></span> has been added to your order!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pay-modal" tabindex="-1" role="dialog" aria-labelledby="pay-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">How would you like to pay for your order?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Pay normally</button>
                <button type="submit" class="btn btn-primary pay-hotel">Put it on my hotel order</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="hotel-modal" tabindex="-1" role="dialog" aria-labelledby="hotel-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hotel" onsubmit="return false">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Guest name</label>
                        <input class="form-control name" placeholder="Enter the name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary pay">Pay</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/menu/guest/main.js"></script>
{{> data/homepage/footer}}