{{> data/header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-secondary btn-block" href="/">
                        Back
                    </a>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/menu/guest/main.js"></script>
<script src="/js/menu/get.js"></script>
<script src="/js/menu/create.js"></script>
<script src="/js/menu/edit.js"></script>
<script src="/js/menu/delete.js"></script>

<script src="/js/menu/serving/get.js"></script>
<script src="/js/menu/serving/add.js"></script>
<script src="/js/menu/serving/delete.js"></script>
<script src="/js/menu/serving/edit.js"></script>

{{> data/footer}}