{{> data/header}}

<link rel="stylesheet" href="/css/item.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="categories">

                <div class="category">
                    <h2><i class="fas fa-caret-right"></i> Food</h2>

                    <div class="items col-md-12">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="category">
                    <h2><i class="fas fa-caret-right"></i> Food 2</h2>

                    <div class="items  col-md-12">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="item">
                            <div class="row">
                                <div class="col-md-10">
                                    <span class="title">Kipburger speciaal (¥ 3.50)</span>
                                    <span class="description">Met kaas en friet</span>
                                </div>
                                <div class="col-md-2 tool">
                                    <button class="btn btn-primary btn-block">
                                        Order <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Delete after this yo-->


        </div>
    </div>
</div>

<script src="/js/menu/guest/main.js"></script>
{{> data/footer}}