{{> data/dashboardresto/header}}
{{> data/dashboardresto/navbar}}
{{> data/dashboardresto/sidebar}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ingredients</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price per Unit</th>
                        <th>Unit</th>
                        <th>Tools</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-secondary btn-block" href="/">
                        Back
                    </a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block add-item" data-toggle="modal" data-target="#item-modal">
                        <i class="fas fa-plus"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="item-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ingredient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-skill" onsubmit="return false">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control name" type="text" name="name" placeholder="Enter a name">
                    </div>

                    <div class="form-group">
                        <label>Price per Unit</label>
                        <input class="form-control price" type="number" name="name" placeholder="Enter a price">
                    </div>

                    <div class="form-group">
                        <label>Unit</label>

                        <select class="form-control unit">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to remove order <span id="name"></span>?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-danger delete">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/ingredient/main.js"></script>
<script src="/js/ingredient/get.js"></script>
<script src="/js/ingredient/create.js"></script>
<script src="/js/ingredient/edit.js"></script>
<script src="/js/ingredient/delete.js"></script>

{{> data/dashboardresto/footer}}