{{> data/dashboardresto/header}}
{{> data/dashboardresto/navbar}}
{{> data/dashboardresto/sidebar}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Reservations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>

                    <th>Guest</th>
                    <th>Amount</th>
                    <th>Child Seats</th>
                    <th>Reserved Time</th>
                    <th>Parking Spot</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-secondary btn-block" href="/">
                        Back
                    </a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block add-reservation" data-toggle="modal" data-target="#item-modal">
                        <i class="fas fa-plus"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="item-modal"  tabindex="-1" role="dialog" aria-labelledby="item-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-reservation" onsubmit="return false">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Guest</label>
                        <input class="form-control guest name" type="text" name="guestname" placeholder="Enter a guest name">
                    </div>

                    <div class="form-group">
                        <label>Amount</label>
                        <select class="form-control amount" name ="amount" id="amount">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Child seats</label>
                        <select class="form-control childseats" name ="childseats" id="childseats">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label>Table</label>-->
                        <!--<select class="form-control tablenumber" name ="tablenumber" id="tablenumber">-->
                            <!--<option>0</option>-->
                            <!--<option>1</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label>reserved</label>-->
                        <!--<select class="form-control reservedtable" name ="reservedtable" id="reservedtable">-->
                            <!--<option>0</option>-->
                            <!--<option>1</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label>Time</label>-->
                        <!--<select class="form-control time" name ="time" id="time">-->
                            <!--<option>12:00 PM</option>-->
                            <!--<option>13:00 PM</option>-->
                            <!--<option>14:00 PM</option>-->
                            <!--<option>15:00 PM</option>-->
                            <!--<option>16:00 PM</option>-->
                            <!--<option>17:00 PM</option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label>Time Amount</label>
                        <input class="form-control timeamount" type="text" name="timeamount" placeholder="Enter amount of time">
                    </div>

                    <div>
                        <label class="checkbox-inline"><input type="checkbox" value="true" id="parkingspot">Need a parking spot?</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary save">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal"  tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to remove item <span id="name"></span>?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-danger delete">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/reservation/main.js"></script>
<script src="/js/reservation/get.js"></script>
<script src="/js/reservation/create.js"></script>
<script src="/js/reservation/edit.js"></script>
<script src="/js/reservation/delete.js"></script>

{{> data/dashboardresto/footer}}