<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Data tables styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"> -->

        <!-- Custom styles for this template -->
        <!-- <link href="css/agency.min.css" rel="stylesheet" type="text/css"> -->
        <link href="/css/styleSupplier.css" rel="stylesheet" type="text/css">

        <!-- Bootstrap core CSS-->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">
        <!--CRUD CSS-->
        <link href="/css/crud.css" rel="stylesheet">

        <script src="/vendor/jquery/jquery.min.js"></script>

        <script src="/js/util/URLUtil.js"></script>
        <script src="/js/util/FormUtil.js"></script>

        <style>.btn-primary {background-color: #309bcf; border-color: #309bcf} a {color: #309bcf} a: hover {color: #006ead}
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
        {background-color: #006ead; border-color: #006ead}
        .page-item.active .page-link {
        background-color: #309bcf;
        border-color: #309bcf;}
        .page-link {color: #309bcf}</style>

    </head>
    <body>