<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    $.get("api/tables", function(data) {
                        $.each(data, function(i, item) {
                            var tr = $('<tr>').append(
                                $('<td>').text(item.number),
                                $('<td>').text(item.numberOfPersons),
                                $('<td>').text(item.shape),
                                $('<td>').text(item.status),
                                "<td><button id = modifyButton>MODIFY</button><button id = deleteButton>DELETE</button></td>");
                                $("#table tbody").append(tr);
                        });
                    });
                });
            });
        </script>
        <title>Title</title>
    </head>
    <body>
    <button>Display Tables</button>
        <div>
        <table id = "table">
            <thead>
                <tr>
                    <th><strong>Table Number</strong></th>
                    <th><strong>Number of Persons</strong></th>
                    <th><strong>Shape</strong></th>
                    <th><strong>Status</strong></th>
                    <th><strong>Action</strong></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
    </body>
</html>