<!-- Reviews -->
<section class="bg-light" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Reviews</h2>
                <h3 class="section-subheading text-muted">We care about your experience.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                    <h4>Stein</h4>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-muted">What a great resort, the staff was very nice and also the manager Jacky was an
                        amazing guy!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                    <h4>Robert</h4>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-muted">Great food!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
                    <h4>Alfie</h4>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-muted">This wasn't included on the website but I was able to invite my husband and
                        friends, he even could dock his yacht!</p>
                </div>
            </div>
        </div>
    </div>
</section>